@import 'variables';

.carousel img {
  width: 100%;
  height: 500px;
  object-fit: contain;
  background-color: $color-fondo;

  @media (max-width: 768px) {
    max-height: 300px;
  }
}

.grid-imagenes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 10px;

  img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    border: 2px solid $color-celeste;
  }
}
